
body {
    background-color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: black;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

form {
    margin-bottom: 0px;
}

.form-control {
    display: grid;
    grid-template-columns: 70% 30%;
    bottom: 0px;
    width: 100%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.form-control input {
    padding: 20px;
}

.form-control button {
    background: #3879D9;
    border: none;
}

.container {
    display: flex;
}

.date-container {
    bottom: 140px;
    width: 50%;
    border: 1px solid black;
}

.date-container input {
    width: 100%;
    padding: 20px;
}

input {
    border: none;
}

#priority {
    padding: 4px;
    width: 50px;
    text-align: center;
    border-radius: 8px;
}

.radio-control {
    background: white;
    bottom: 70px;
    display: flex;
    width: 50%;
    padding: 20px;
    float: left;
    border: 1px solid black;
}

.radio-control label {
    padding-left: 20px;
}

input[type="radio"] {
    padding: 10px;
}

.search-container{
    position: relative;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #3879D9;
    border-radius: 3px;
    height: 3.3em;
    width: 100%;
    overflow: hidden;
}

.search-container .text {
    height: 50px;
    width: 100%;
    padding-left: 20px;
}

.search-container .text:focus {
    outline: 0;
}

.search-container .button {
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 4.5em;
    right:0px;
    top: -5px;
    outline : none;
}

.search-container .button:hover {
    background-color: black;
    color: #3879D9;
}

.search-container .button:active {
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    transform:translate(0, 2px);
    border-bottom: none;
}

button:hover {
    background-color: black;
    color: #3879D9;
}

button:active {
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    transform:translate(0, 2px);
    border-bottom: none;
}

.list-container {
    height: calc(70vh - 70px);
    overflow: auto;
    margin-top: 0px;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    gap: 20px;
    margin: 20px;
}

#list li {
    background-color: firebrick;
    color: white;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
    background-color: blue;
    height: 40px;
}




